.headerStyle{
  text-align: start;
  color: rgb(255, 255, 255);
  height: 100px;
  background-color: #77c4c4;
  font-family: 'Dancing Script';
  font-weight: 600;
  font-style: italic;
  font-size:xx-large;
  margin-bottom: 20px;
}

.navbar{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3px;
  color: #fff;
}

.contentStyle{
  text-align: center;
  min-height: 120;
  line-height: 50px;
  background-color: rgb(255, 255, 255);
}

.footerStyle{
  color: #242222;
}

.IconStyle{
  text-align: center;
  padding: 20px;
}

.content{
  text-align: center;
  display: flex;
  flex-direction: row;
  color: black;
  padding: 20px;
}

